// Variables de colores, fuentes, etc.
$primary-color: rgb(134, 29, 34);
$secondary-color: #000;
$background-color: #ffffff;
$font-family-base: 'Arial, sans-serif';
$font-family-modern: 'Poppins', sans-serif;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;