footer {
    text-align: center;
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    color: $secondary-color;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
